.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

body::-webkit-scrollbar {
  display: none;
}
#container img {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px #55555582;
}